SECRET_KEY = your secret_key
NAME = your name BD
USER_BD = your userBD
PASS_BD = Your password_BD
HOST = your host
PORT = your port_bd

DEBUG = True


E_MAIL = your_mail@yandex.ru
PASS_MAIL=your_pass_app
