{% extends 'catalog/base.html' %}
{% load image_tags %}
{% block title %}Домашняя страница{% endblock %}
{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    {%  if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'catalog:product_create' %}" role="button">Добавить продукт </a>
    {% endif %}
</div>
<div class="container py-3">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for product in object_list %}
            {%  if product.published %}
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <a class="text-muted" href="/products/{{ product.id }}/"><h4 class="my-0 font-weight-normal">{{ product.name }}</h4></a>
                            <img src="{{product.image| image_path }}">
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ product.price }}<small class="text-body-secondary fw-light">руб.</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                            <li>- Категория: {{ product.category }}</li>
                            <li>- {{ product.description|truncatechars:100 }}</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Добавить в корзину</button>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

